/* 
table { 
  border: 2px solid black; 
  margin: 0px;
} 

th {  

  border: 2px solid black;   
   margin: 0px;
}  

  

tbody{  

  border: 2px solid black;   
   margin: 0px;
}  

  

tr {  

  border: 2px solid black;   
   margin: 0px;
}  

  

td {  

  border: 2px solid black;   
   margin: 0px;
}  

 */